<div id="register-wrapper">
  <div class="container">
    <div class="register-container">
      <div class="register-card">
        <div class="card">
          <div class="card-inner">
            <div class="left-side"></div>
            <div class="right-side">
              <div class="register-box text-center">
                <h2>Member Register</h2>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-custom">Register Me</button>
                  </div>
                </form>
                <p>Already a member? Click here to <a routerLink="/">Login</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>